[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-limiter = "*"
flask-socketio = "*"
dotmap = "*"
celery = "*"
flask-mail = "*"
flask-login = "*"
flask-security = "*"
redis = "*"
gunicorn = "*"
gevent = "*"
gevent-websocket = "*"
apscheduler = "*"
flask-apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.11"
